body {
  box-sizing: border-box;
  border: none;
  
}
#nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 120px;
  /* margin: 0 auto; */
}
nav {
  background-color: #555;
  /* color: white; */
  /* height: 100px; */
}

nav div {
  display: block;
  margin: 0 auto;
  /* border: 1px solid white; */
  /* padding: 10px; */
}

nav div div {
  display: inline-block;
  width: 180px;
  height: 50px;
  text-align: center;
  font-size: 1.4rem;
  /* background-color:black; */
  color:white;
  /* padding: 20px; */
  margin: 20px;
  /* padding: 20px 0;   */
}

nav div div:first-child {
  background-color: black;
}

main {
  margin-bottom: 50px;
}

main > div {
  display: block;
  margin: 0px auto;
  width: 960px;
  height: 100vh;
  background-color: whitesmoke;

}

main section:first-of-type {
  width: 100%;
  height: 405px;
  background-color: #ddd;
  padding: 30px 0;
  font-size: 1rem;
}

main section:first-of-type div {
  width: 300px;
  height: 375px;
  background-color: #999;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
}

main section:first-of-type div:nth-child(even) {
  margin: 0 26px;
}

/* bottom section with Feature Section Banner and p Lorem Text */
main section:nth-of-type(2) {
  width: 100%;
  height: 510px;
  background-color: #ddd;
  /* border: solid 1px black; */
}

main section:nth-of-type(2) div:first-of-type {
  /* display: inline-block; */
  float: left;
  width: 50%;
  height: 480px;
  background-color: #999;
  font-size: 2rem;
  text-align: center;
}

main section:nth-of-type(2) h4 {
  /* float: right; */
  /* background-color: teal; */
  text-align: left;
  margin-left: 15px;
}


main section:nth-of-type(2) div:nth-of-type(2) {
  float: right;
  width: calc(50% - 30px);
  height: calc(480px - 30px);
  /* background-color: rgb(255, 234, 230); */
  font-size: 2rem;
  /* text-align: center; */
  padding: 0 15px 15px 15px;
  /* overflow: scroll; */
}

main section:nth-of-type(2) div:nth-of-type(2) p {
  height: 316px;
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 120%;
  text-align: justify;
  padding: 10px 15px 10px 15px;
  overflow: scroll;
  /* scrollbar-color: black; */
}

main section:nth-of-type(2) div:nth-of-type(2) button {
  padding: 10px 50px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #999;
}

main section:nth-of-type(2) div:nth-of-type(2) button:hover {
  background-color: #999;
  color: black;
}

.clear {
  clear: both;
}

footer {
  clear: left;
  /* display: block; */
  margin: 50px auto 0 auto;
  width: 100%;
  height: 100px;
  background-color: #333;
  /* position: relative; */
  /* bottom: 0; */

}
